{% extends "base.html" %}

{% block content %}

<div id="eventsPreview" class="container carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#eventsPreview" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#eventsPreview" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#eventsPreview" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner postion-relative">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgba(43, 43, 21, 0.369)"/></svg>
        <img class="carousel-supersano" src="https://res.cloudinary.com/dkja2ko1g/image/upload/v1682180030/Finalproject4pr/astros_shampions_vjplri.jpg" alt="champion celebration" />
        <div class="position-absolute top-50 start-50 translate-middle head-txt-cont">
          <h1>Welcome to BASE says it !!!</h1>
          <p>If you want to announce a Baseball [BASE] event, this is the correct site!!!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img class="carousel-supersano" src="https://i.guim.co.uk/img/media/23b23eac7bd4f2ca5ca4a2f04bc599d9ff08ad98/0_37_4694_2817/master/4694.jpg?width=620&quality=45&dpr=2&s=none" alt="team celebration" />
        <div class="position-absolute top-50 start-50 translate-middle head-txt-cont">
          <h1><a class="nav-link" href="{% url 'account_signup' %}">Sign up today</a></h1>
          <p>Find the event of your interest and join us!</p>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img class="carousel-supersano" src="https://res.cloudinary.com/dkja2ko1g/image/upload/v1682179869/Finalproject4pr/world-series-celebrations-05_kf1wok.jpg" alt="black white celebration" />
        <div class="position-absolute top-50 start-50 translate-middle head-txt-cont">
          <h1>BAseball</h1>
          <p>Great Sport, Great Teams, Great Players</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#eventsPreview" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#eventsPreview" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

         <!-- Blog Entries Column -->
 
<div class="container-fluid">
    <div class="row">
        
        <!-- Blog Entries Column -->
        <!-- https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dkja2ko1g/image/upload/v1681683726/Finalproject4pr/baseball1_jagzcx.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
