{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title -->
{% block title %}
    Edit story page
{% endblock %}

{% block content %}
    <!-- Check if user is authenticated so he/she can edit the story -->
    {% if user.is_authenticated %}
        <div class="container text-dark">
            <div class="row">
                <div class="col mt-3 mb-5">
                    <div class="text-box rounded">
                        <!-- Check class base-say-it-text -->
                        <h2 class="base-say-it-text">Edit Story</h2>
                        <hr>
                    </div>
                    <form action="?action=save" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                {% csrf_token %}
                                <div class="row">
                                    {{ story_form.title|as_crispy_field }}
                                </div>
                                <div class="row">
                                    {{ story_form.excerpt|as_crispy_field }}
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ story_form.impact|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ story_form.championship_numbers|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ story_form.team_avg_season|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ story_form.team_avg_playoffs|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ positive_form.pitch_the_story|as_crispy_field }}
                                </div>
                                <div class="row">
                                    <p>Here you can change the story image if you like:</p>
                                    {{ positive_form.team_image|as_crispy_field }}
                                </div>
                                <button type="submit" class="btn btn-signup btn-lg">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <!-- If user isn't logged in a message will appear with register or login -->
        <div class="container">
            <div class="row">
                <div class="col mt-3 mb-5 text-center">
                    <h1 class="mb-5">You have to login to edit stories!</h1>
                    <p>Please <a href="{% url 'account_signup' %}">register</a> an account or<a href="{% url 'account_login' %}"></a> login to edit your story.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
